extends javascript

snippet rrh "add request handler" b
	(req:Request,res:Response) => {
		${0:${VISUAL}}
	}

snippet arrh "Add async request handler" b
	async (req:Request,res:Response) => {
		${0:${VISUAL}}
	};
